@use 'variables' as var;

@mixin top-bot-padding {
  padding: {
    top: var.$padding-body/4;
    bottom: var.$padding-body/4;
  }
}

body {
  display: flex;
  flex-direction: column;
}

header,
.hero,
.info,
.quote,
.action-call,
footer {
  padding: 0 var.$padding-body;
}

header {
  padding-top: 1rem;
}

.hero {
  @include top-bot-padding();
  display: flex;
  align-items: center;
  gap: 2rem;
  h1 {
    margin-bottom: 1rem;
  }
  img {
    width: 70%;
  }
  .signup {
    margin-top: 2rem;
  }
}

.info {
  @include top-bot-padding();
  h1 {
    text-align: center;
  }
}

.info-boxes {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  img {
    object-fit: cover;
    width: 12rem;
    height: 12rem;
    margin-bottom: 1rem;
    border: 5px solid var.$background-quote;
    border-radius: 10px;
  }
}

.quote {
  @include top-bot-padding();
  :last-child {
    font-size: 1.2rem;
    text-align: right;
  }
}

footer {
  padding: {
    top: var.$padding-general;
    bottom: var.$padding-general;
  }
}