@use 'variables' as var;

body {
  display: flex;
  flex-direction: column;
}

header,
.hero,
.info,
.quote,
.action-call,
footer {
  padding: 0 var.$padding-body;
}

header {
  padding-top: 1rem;
}

.hero {
  padding: {
    top: var.$padding-body/4;
    bottom: var.$padding-body/4;;
  };
  display: flex;
  align-items: center;
  gap: 2rem;
  h1 {
    margin-bottom: 1rem;
  }
  img {
    width: 70%;
  }
  .signup {
    margin-top: 2rem;
  }
}