// Colors 
$background-dark: rgb(88, 23, 59);
$background-quote: rgb(227, 196, 248);
$clickable: rgb(230, 132, 243);
$text-highlight: #f9faf8;
$text-highlight-dim: #e5e7eb;

$padding-body: 20rem;
$padding-general: 1rem;
